.input {
  padding: 1.5em 1em;
  font-size: 20px !important;
  text-align: center;
}

.input::-webkit-input-placeholder {
  color: #0A154A;
}

.input:-ms-input-placeholder {
  color: #0A154A;
}

.input::placeholder {
  color: #0A154A;
}
