body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 span,
h2 span {
  position: relative;
}

h1 span:after,
h2 span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: -7px;
  left: 0;
  background: #EE215B;
  border-radius: 85% 50% 90% 0%;
}

button {
  height: auto !important;
  padding: 1rem;
  border-radius: 32px !important;
  position: relative;
}

button:after {
  content: "";
  position: absolute;
  background: url("/button.png") no-repeat;
  width: 33px;
  height: 100%;
  right: -33px;
  top: -20px;
}

label {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: block;
}

.text-65 {
  width: 65%
}

.text-35 {
  width: 35%
}

@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none;
  }

  .text-65 {
    width: 100%;
  }
  .text-35 {
    width: 100;
  }
}