.layout {
  box-sizing: border-box;
  padding-top: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.layout .components {
  position: relative;
  width: 100%;
}
